build
run-*.R
./test-*.R
Doxygen
DOCS
mrgsolve.Rcheck
.DS_store
.vscode/
test.R
*.o
*.so
Rchecks
.Rproj.user
.Rhistory
*.tar.gz
!package/*.tar.gz
*00_pkg_src
inst/maintenance/unit/tests.md
doc
Meta
inst/maintenance/unit/mrgsolve-so*
vignettes/mrgsolve-builds
vignettes/extra/mrgsolve-builds/
vignettes/src/mrgsolve-vignette.pdf
