/* 
 * mixing tufte and envisioned-css
 *
 */

@charset "UTF-8";

body{ /* Normal  */
    font-family: Helvetica, arial, sans-serif;
    line-height: 1.45;
    font-size: 16pt;
}

pre {
  font:  Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

code {
  font-size: 95%;
  margin-top: 0;
  margin-bottom: 0;
  overflow: auto;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 5px;
  color: black;
  font-family:  Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  overflow: auto;
  font-size: 95%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border: 0;
  padding: 16px;
  border-radius: 5px;
  margin-top: 16px;
  margin-bottom: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: black;
}

pre:not([class]) {
  background-color: #f6f8fa;
}


